<vp-modal vp-label="Create container" ng-controller="CreateController">
  <form name="createForm" ng-submit="submit(createForm)" novalidate vp-form-feedback>
    <div class="row">
      <div class="col-md-6 form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-folder-open"></i></span>
          <input type="text" name="name" class="form-control" ng-model="container.name" ng-required="true" ng-pattern="/^\w[\w\.-]+$/" placeholder="Name">
        </div>
      </div>
      <div class="col-md-6 form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-download-alt"></i></span>
          <select class="form-control" name="template" ng-model="container.template" ng-options="template for template in templates" ng-required="true"></select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
          <input type="text" name="hostname" class="form-control" ng-model="container.hostname" ng-required="true" ng-pattern="/^(?:[\w-]{1,63})(?:\.[\w-]{1,63})*$/" placeholder="Hostname">
        </div>
      </div>
      <div class="col-md-6 form-group">
        <div class="checkbox"><label><input type="checkbox" name="autostart" ng-model="container.autostart">Autostart</label></div>
      </div>
    </div>
    <div class="text-right">
      <button class="btn btn-small" ng-click="$hide()" aria-hidden="true">Cancel</button>
      <button type="submit" class="btn btn-success" ng-disabled="createForm.$invalid"><i class="glyphicon glyphicon-ok"></i> Create</button>
    </div>
  </form>
</vp-modal>
