<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div ng-if="loading">
        <div class="modal-backdrop am-fade" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; z-index: 1059">
        </div>
        <div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; z-index: 1060">
          <img style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;" src="/images/loading.gif">
        </div>
      </div>
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">×</button>
        <h3 class="{{labelClass}}" id="createCTLabel">{{label}}&nbsp;</h3>
      </div>
      <div class="modal-body">
        <div ng-if="error" class="alert alert-danger">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>{{errorMessage}}
        </div>
        <div class="transclude"></div>
      </div>
    </div>
  </div>
</div>
