<div class="well well-sm">
  <div class="row buttons">
    <div class="col-md-12">
      <span class="pull-right"><a class="btn btn-sm btn-danger" data-template="views/reboot.html" bs-modal><i class="glyphicon glyphicon-off"></i> Reboot</a></span>
      <span class="pull-right"><a class="btn btn-sm btn-success" data-template="views/create.html" bs-modal><i class="glyphicon glyphicon-plus-sign"></i> Create <abbr title="Container">CT</abbr></a></span>
    </div>
  </div>

  <div class="row">
    <h3 style="margin-left: 10px">{{host.distribution}} ({{host.hostname}})</h3>
    <div class="col-md-6">
      <p>CPU usage : {{host.cpu}}%</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{host.cpu}}" aria-valuemin="0" aria-valuemax="100" style="width: {{host.cpu}}%">
          <span class="sr-only">{{host.cpu}}%</span>
        </div>
      </div>
      <p>Memory usage : {{host.memory.usage}}%</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{host.memory.usage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{host.memory.usage}}%">
          <span class="sr-only">{{host.memory.usage}}%</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <p>Disk usage : {{host.disk.usage}}%</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{host.disk.usage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{host.disk.usage}}%">
          <span class="sr-only">{{host.disk.usage}}%</span>
        </div>
      </div>
      <p>Uptime : {{host.uptime}}</p>
    </div>
  </div>
</div>

<table class="table table-curved">
  <thead>
    <tr>
      <th class="hidden-xs">Status</th>
      <th>Name</th>
      <th class="hidden-xs">Hostname</th>
      <th>IP Address</th>
      <th>Mem</th>
      <th class="hidden-xs">Auto Start</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr class="empty" ng-if="containers.length == 0">
      <td colspan="6">No containers</td>
      <td>
        <span class="pull-right"><a class="btn btn-xs btn-success" data-template="views/create.html" bs-modal><i class="glyphicon glyphicon-plus-sign"></i> Create <abbr title="Container">CT</abbr></a></span>
      </td>
    </tr>
    <tr class="{{container.statClass}}" ng-repeat="container in containers">
      <td class="hidden-xs"><span class="label label-{{ container.statClass }}">{{container.stat}}</span></td>
      <td><a href="#/container/{{container.id}}" title="Click to edit {{container.name}}">{{container.name}}</a></td>
      <td class="hidden-xs">{{container.hostname}}</td>
      <td>{{container.ipAddress}}</td>
      <td>{{container.memUsage}}</td>
      <td class="hidden-xs">{{container.autoStart}}</td>
      <td>
        <div class="btn-toolbar" style="margin:8px 0;">
          <div class="btn-group btn-group-sm">
            <a class="btn btn-sm btn-default" ng-disabled="container.stat == 'Running'" ng-click="container.start()"><i class="glyphicon glyphicon-play"></i> Start</a>
            <a class="btn btn-sm btn-default" ng-disabled="container.stat == 'Stopped'" ng-click="container.stop()"><i class="glyphicon glyphicon-stop"></i> Stop</a>
            <a class="btn btn-sm btn-default hidden-xs" ng-disabled="container.stat == 'Frozen'" ng-click="container.freeze()"><i class="glyphicon glyphicon-pause"></i> Freeze</a>
          </div>
          <a class="pull-right destroy" style="margin-top:4px;"><i class="glyphicon glyphicon-remove-circle"></i></a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
