<header class="navbar navbar-fixed-top navbar-inverse" ng-model="nav" bs-collapse bs-navbar>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" bs-collapse-toggle>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">LXC Web Panel</a>
    </div>
    <div class="collapse navbar-collapse" bs-collapse-target>
      <ul class="nav navbar-nav visible-xs">
        <li class="nav-header">LXC Settings</li>
        <li data-match-route="/networking"><a href="#/networking" bs-collapse-toggle><i class="glyphicon glyphicon-globe"></i> Networking</a></li>
        <li data-match-route="/tokens"><a href="#/tokens" bs-collapse-toggle><i class="glyphicon glyphicon-lock"></i> API tokens</a></li>
        <li data-match-route="/audit"><a href="#/audit" bs-collapse-toggle><i class="glyphicon glyphicon-check"></i> Check config</a></li>
        <li class="nav-header">System</li>
        <li data-match-route="/users"><a href="#/users" bs-collapse-toggle><i class="glyphicon glyphicon-user"></i> Users</a></li>
        <li data-match-route="/about"><a href="#/about" bs-collapse-toggle><i class="glyphicon glyphicon-info-sign"></i> About</a></li>
        <li><a href="">Logout</a></li>
      </ul>
      <p class="navbar-text pull-right hidden-xs">
        <a href="" class="navbar-link">Logout</a>
      </p>
    </div>
  </div>
</header>

