<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()" aria-hidden="true">×</button>
        <h3 class="text-danger">Oh wait!</h3>
      </div>
      <div class="modal-body">
        <strong>Reboot this system now?</strong>
      </div>
      <div class="modal-footer">
        <button class="btn btn-small" ng-click="$hide()" aria-hidden="true">Cancel</button>
        <a class="btn btn-danger"><i class="glyphicon glyphicon-off"></i> Reboot</a>
      </div>
    </div>
  </div>
</div>
